div{
    height: 50%;
    width: 50%;
    align-content: center;
}
span{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    border-radius: 2%;
}
figcaption{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    color: black;
    font-size: 2em;
    font-weight:900;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#currentPrice{
    display: inline;
    font-size: 1em;
    font-weight: bold;
    color: #00b0f0;
    padding-right: 20px;
}
#initialPrice{
    display: inline;
    font-size: 1em;
    font-weight: bold;
    text-decoration: line-through;
    padding-right: 20px;
}
#button{
    background-color: aqua;
    border-color: aqua;
    border-radius: 10%;
    font-size: medium;
    color: white;
}
